body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: palevioletred;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;

}


/* header styles */

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#column1{
    text-align: center;
}

header h1{
	color:  white;
	font-size: 50px;
}

#avatar{
	object-fit: cover;
	width: 350px;
	height: 350px;
    border: 10px solid white;
}

header p{
	color: white;
	max-width: 70%;
	font-size: 25px;
	line-height: 40px;
}


/*Main styles*/

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

#friends{
	max-width: 100%;
	padding-top: 30px;
}


/*Headings styles*/

h1, h2, h3, h4{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

h2{
	font-size: 40px;
	color: #613F75;
	margin: 60px 0 10px;
}

h3{
	font-size: 30px;
	margin: 40px 0 10px;
	color: #7D82B8;
}

h4{
	font-size: 25px;
	margin: 40px 0 5px;
	color: palevioletred;
}

#powers{
	margin-top: 5px;
}

a{
	color: pink;
}
a:hover{
	color: #79B791;
}

footer{
	background-color: palevioletred;
	text-align: center;
	color:  white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	color: white;
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
	font-size: 16px;
}















