body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: palevioletred;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;

}


/* header styles */

.column {
  float: left;
  width: 50%;
  align-content: center;
}

#avatarbox{
	position: relative;	
	left: 25%;		
	width: 350px;
	height: 350px;
  border: 10px solid white;
}

#avatar1{
	position: absolute;
	width: 350px;
	height: 350px;
	object-fit: cover;
	transition: .5s;

}

#avatarhover{
	position: absolute;
	width: 350px;
	height: 350px;
	object-fit: cover;
	opacity: 0;
	transition: .5s;

}

#avatar1:hover{
	opacity: 0;
	transition: .5s;
}

#avatarhover:hover{
	opacity: 1;
	transition: .5s;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

header h1{
	color:  white;
	font-size: 50px;
}

header p{
	color: white;
	max-width: 70%;
	font-size: 25px;
	line-height: 40px;
}


/*Main styles*/

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

#friendsbox{
	max-width: 100%;
	height: 444px;
	position: relative;
	margin-top: 30px;
}

#friends1{
	max-width: 100%;
	height: 444px;
	position: absolute;
	transition: .5s;
	opacity: 1;
}

#friendshover{
	max-width: 100%;
	height: 444px;
	position: absolute;
	transition: .5s;
	opacity: 0;
}

#friends1:hover{
	opacity: 0;
	transition: .5s;
}

#friendshover:hover{
	opacity: 1;
	transition: .5s;
}
/*Headings styles*/

h1, h2, h3, h4{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

h2{
	font-size: 40px;
	color: #613F75;
	margin: 60px 0 10px;
}

h3{
	font-size: 30px;
	margin: 40px 0 10px;
	color: #7D82B8;
}

h4{
	font-size: 25px;
	margin: 40px 0 5px;
	color: palevioletred;
}

#powers{
	margin-top: 5px;
}

a{
	color: pink;
}
a:hover{
	color: #79B791;
}

footer{
	background-color: palevioletred;
	text-align: center;
	color:  white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	color: white;
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
	font-size: 16px;
}















